<div class="box">
  <div class="project-two">
    <input type="text"
      [(ngModel)]="userName">

    <button [disabled]="userName === '' "
      (click)="userName = '' ">empty input</button>
    {{userName}}
  </div>

  <!-- learn-class-directive -->
  <div class="learn-class-directive">
    <h2 class="text-success">class</h2>
    <h2 [class]="successClass">[class]</h2>

    <!-- [class] cancals class: -->
    <h2 [class]="successClass"
      class="text-special">Classs-[class]</h2>

    <h2 [class.text-danger]="hasError">[class.text-danger]</h2>
    <h2 [ngClass]="messageClasses">ngClass</h2>
  </div>

  <div class="style-binding">
    <h2 [style.color]="'red' ">inline styling - [style.color]="'red' "</h2>
    <h2 [style.color]="hasError ? 'red' : 'green' ">inline styling - with statment</h2>
    <h2 [style.color]="highLightColor">inline styling - with variable</h2>
    <h2 [ngStyle]="titleStyle">inline styling - with ngStyle</h2>
  </div>

  <!-- event binding class: -->
  <div class="event-binding">
    <h2>Wellcome {{name}}</h2>
    <button (click)="onClick($event)">Great</button>{{greeting}}
    <button (click)="greeting = 'yuda'">Great</button>{{greeting}}
  </div>

  <!-- Template Reference Variables -->
  <div class="Template-Reference-Variables">
    <input #myInput
      type="text">
    <button (click)="logMessage(myInput.value)">Log</button>
    <button (click)="logMessage(myInput)">Log</button>
  </div>
  <br>

  <!-- Two Way Binding -->
  <div class="two-way-binding">
    <p>Two Way Binding:</p>
    <input type="text"
      [(ngModel)]="variable"
      placeholder="enter your input here">
    {{variable}}
  </div>

  <div class="pipes">
    <h2>{{"PIPES" | uppercase}}</h2>
    <h6>{{"PIPES LOWERCASE" | lowercase}}</h6>
    <h6>{{"PIPES LOWERCASE sliced" | slice:3:21}}</h6>
    <p>{{ myObj | json}}</p>
    <p>one imteger, between 2-3 decimels:</p>
    <h6>{{12.1234| number:'1.2-3'}}</h6>
    <p>3 imtegers, between 2-5 decimels:</p>
    <h6>{{12.1234| number:'3.2-5'}}</h6>

  </div>

  <div class="pipes">
    <h6>{{0.30+0.15| percent}}</h6>
    <h6>{{30|currency}}</h6>
    <h6>{{30|currency:"ILS"}}</h6>
    <h6>{{30|currency:"ILS":"code"}}</h6>
    <h6>{{date|date:"short"}}</h6>
    <h6>{{date|date:"shortDate"}}</h6>
    <h6>{{date|date:"shorttime"}}</h6>
  </div>
</div>
<div class="box">
  <div class="service-data">
    <li *ngFor="let item of employees">{{item.id}}-{{item.name}}-{{item.age}}</li>
  </div>
  <br>

  <app-parent></app-parent>
</div>
